<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.manager.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.manager.entity.User">
        <id property="userId" column="user_id" jdbcType="BIGINT"/>
        <result property="userName" column="user_name" jdbcType="VARCHAR"/>
        <result property="nickName" column="nick_name" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="CHAR"/>
        <result property="email" column="email" jdbcType="VARCHAR"/>
        <result property="phoneNumber" column="phone_number" jdbcType="VARCHAR"/>
        <result property="sex" column="sex" jdbcType="CHAR"/>
        <result property="avatar" column="avatar" jdbcType="VARCHAR"/>
        <result property="userType" column="user_type" jdbcType="CHAR"/>
        <result property="createBy" column="create_by" jdbcType="BIGINT"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateBy" column="update_by" jdbcType="BIGINT"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="delFlag" column="del_flag" jdbcType="INTEGER"/>
        <result property="ip" column="ip" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        user_name,nick_name,
        password,status,email,
        phone_number,sex,avatar,user_type,create_by,create_time,
        update_by,update_time,del_flag,ip
    </sql>
    <insert id="insertReturnUserId" useGeneratedKeys="true" keyProperty="userId">
        insert into sys_user (<include refid="Base_Column_List"></include>)
        values(#{userName},#{nickName},#{password},#{status},
        #{email},#{phoneNumber},#{sex},#{avatar},#{userType},
        #{createBy},#{createTime},#{updateBy},#{updateTime},#{delFlag},#{ip})
    </insert>

    <!--    查询用户权限-->
    <select id="selectPermissions" resultType="java.lang.String">
        select distinct m.permissions
        from sys_user u
                 inner join sys_user_role ur on u.user_id = ur.user_id
                 inner join sys_role_menu rm on ur.role_id = rm.role_id
                 inner join sys_menu m on m.menu_id = rm.menu_id
        where u.user_id = #{userId,jdbcType=INTEGER}
    </select>

    <update id="updateUserByIp" parameterType="com.manager.entity.User">
        update sys_user set ip=#{ip} where user_id=#{userId}
    </update>

    <update id="updateUserByTime" parameterType="com.manager.entity.User">
        update sys_user set update_time=#{updateTime} where user_id=#{userId}
    </update>
</mapper>
